$c1: #9dffb0;
$c2: #81f1f7;
$c3: #ffffaa;
$c4: #c48d3f;
$c5: #fff563;
.notification {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c4;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  }