$c1: #9dffb0;
$c2: #81f1f7;
$c3: #ffffaa;
$c4: #c48d3f;
$c5: #fff563;

#toggle {
  color:$c5;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c4;
  height: 5em;
  width: 5em;
  border-radius: 20px 0 0 20px;
}
.container {
  position: fixed;
  //margin: 50px;
  bottom: 0;
  right: 0;
  min-height: 80%;
  // width: auto;
  height: 49vw;
  //padding: 15px;
  transform: translateX(88%);
  transition: transform 0.3s ease-in-out;
  display: flex;
}
.innerContainer {
  display: flex;
  min-width: 10vw;
  
  //border-radius: 0 30px 30px 0 ;
  background-color: $c3;
  padding: 19px;
  // overflow-y: auto;
}
.contentWrapper {
  flex-grow: 1;
}
.container.visible {
  transform: translateX(0);
  //display: flex;
}
.recButton {
  justify-content: center;
  align-items: center;
  display: flex;
}
.sliderContainer {
  width: auto;
}

.slider {
  display: flex;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: .3rem;
  border-radius: 20px;
  background: $c1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: url(../../assets/fragment.png);
  background-size: cover;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: url(../../assets/fragment.png);
  background-size: cover;
  cursor: pointer;
}
.info {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  width: 100%;
  h4 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
  }
  #left {
    margin-right: auto;
    display: flex;
  }
  #right {
    margin-left: auto;
  }
}
h3 {
  font-size: 1vw;
  display: flex;
  margin: 0;
  padding: 18px 0 0 0;
  
}
@media only screen and (max-width: 1700px) {
  /* CSS rules for MacBook Air or similar screen sizes */
  /* Adjust the styles accordingly */
  .container {
    //font-size: .7rem;
    padding-bottom: 100px;
    //min-height: 90%;
    
  }
  .button {
    border-radius: 10px 0 0 10px ;
    width: 4rem;
    height: 4rem;
  }
  .sliderContainer {
    width: auto;
    //height: 7rem;
  }
  .innerContainer {
    
    min-width: none;
    max-width: 24rem;
  }
  .slider {
    display: flex;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .3rem;
    border-radius: 20px;
    background: $c1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  .content {
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: .9rem;
  }
  
  h2 {
    font-size: .8rem;
  }
  .info {
    font-size: .8rem;
  }
}