$c1: #9dffb0;
$c2: #81f1f7;
$c3: #ffffaa;
$c4: #c48d3f;
$c5: #fff563;
@font-face {
  font-family: ACNHFont;
  src: url(../assets/VT323-Regular.ttf) format("truetype");
}
* {
  font-family: ACNHFont, sans-serif;
}
body {
  color: rgb(69, 67, 67);
  background-color: $c2;
  
}

.searchResults::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.searchResults::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the scrollbar track */
}

.searchResults::-webkit-scrollbar-thumb {
  background-color: $c4; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Add border-radius to make the scrollbar thumb rounded */
}
.searchResults {
  margin: 10px;
  padding: 0 10px 0 10px;
  //background-color: $c3;
  max-width: 400px;
  max-height: 90%;

  .searchResults::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
  }
  overflow-x: hidden;
}
.navbar {
  justify-content: center;
  display: flex;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .links {
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex; /* Add display flex to ul to align li horizontally */
    list-style: none;
  }
  li {
    margin-right: 30px; /* Add margin-right to li for spacing between links */
  }
}
.card {
  margin: auto;
  position: relative;
  display: flex;
 
}

a {
  cursor: pointer;
}
.splash {
  padding-top: 20rem;
  font-size: 50px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .splashContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contentBox {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  // .searchContainer {
  //   justify-content: center;
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr); /* 3 columns */
  //   gap: 60px; /* gap between cards */
  // }
  justify-content: center;
  display: flex;
  .topContainer {
    
    width: 200rem;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    // justify-content: center;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // gap: 60px;
  }
}

.input {
  border: 2px;
  border-radius: 5px;
  margin-left: 40px;
  padding: 10px;
  width: 332px;
}
button {
  background-color: $c1;
  border-radius: 20px;
  border: none;
  height: 45px;
  width: 250px;
  font-size: 20px;
  
}
button:hover {
  cursor: pointer;
}
svg {
  color: $c4;
  width: 50px;
  height: 50px;
}
svg:hover {
  color: $c1;
  transition: 0.2s;
}
svg:not(hover) {
  transition: 0.2s;
}
